.footer{
        background-color: rgb(54, 61, 66);
        height: 455px; 
        padding-top: 46px;    
    .footer-left{
        margin-bottom: 45px;
        .write-btn{
            width: 289px;
            height: 75px;
            background-color: rgb(62, 69, 74);
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 6px;
            a{
                    font-size: 21px;
                    color: rgb(255, 255, 255);
                    font-weight: bold;
                    line-height: 2.055;
                    width: 100%;
                    height: 100%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
        }
        }
        p{
                font-size: 18px;
                color: rgb(255, 255, 255);
                font-weight: bold;
                line-height: 2;
                margin: 35px 0 50px 10px;
        }
        .footer-contact{
            display: flex;
            flex-direction: column;
            a{
                font-size: 18px;
                color: rgb(255, 255, 255);
                font-weight: bold;
                line-height: 2;
                margin-left: 10px;
            }
        }
        .social-icons{
            display: flex;
            a{
                    border-radius: 6px;
                    background-color: rgb(62, 69, 74);
                    padding: 0.7rem 0.8rem;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    margin-right: 10px;
                i{
                    font-size: 20px;
                    color: #ccc;
                }
            }
        }
    }
    .footer-right{
        height: 100%;
        .footer-input{
            position: relative;
            margin-bottom: 40px;
            input{
                width: 100%;
                border-radius: 6px;
                height: 75px;
                border: none;
                padding-left: 30px;
                &:focus{
                    outline: none;

                }
                &::placeholder{
                        font-size: 21px;
                        color: rgb(177, 185, 192);
                        line-height: 2.055;
                }
            }
            &::before{
                content: '';
                width: 74px;
                height: 100%;
                background-image: url(../images/search.png);
                position: absolute;
                top: 0;
                background-repeat: no-repeat;
                background-position-x: center;
                background-position-y: center;
                right: 0;
                z-index: 9;
                background-color: #fff;
                border-radius: 6px;
            }
        }
        .footer-links{
            .footer-link{
                display: flex;
                flex-direction: column;
                margin-left: 10px;
                a{
                        font-size: 18px;
                        color: rgb(255, 255, 255);
                        line-height: 2.398;                      
                }
            }
        }
        .footer-bottom-info{
            display: flex;
            justify-content: space-between;
            align-items: center;
            height: 100%;
            p{
                margin-bottom: 0;
                font-size: 18px;
                color: rgb(255, 255, 255);
                line-height: 2.398;                  
            }
            a{
                    font-size: 18px;
                    color: rgb(255, 185, 0);
                    line-height: 2.398;                
            }
        }
    }
    .footer-left-bottom{
        margin-bottom: 0 !important;
    }
}

@media screen and (max-width:576px){
    .footer{
        height: auto;
        padding-top: 2rem;
        .footer-left{
            margin-bottom: 15px;
            .write-btn{
                width: 100%;
                height: 60px;
            }
            p{
                margin: 10px;
                br{
                    display: none;
                }
            }
            .social-icons{
                justify-content: center;
                margin: 10px 0;
            }
        }
        .footer-right {
            .footer-input{
                margin-bottom: 15px;
                input{
                    height: 60px;
                }
            }
            .footer-links {
                .footer-link{
                    flex-direction: row;
                    justify-content: space-between;
                    padding: 0 1rem;
                    margin-left: 0;
                }
            }
            .footer-bottom-info{
                flex-direction: column;
            }
        }
    }
}

@media screen and (min-width:768px) and (max-width:1024px){
    .footer{
        height: auto;
         .footer-left {
            .write-btn{
                width: 100%;
            }
            .social-icons{
                height: 100%;
                align-items: center;
            }
         }
         .footer-right{
             .footer-bottom-info{
                 flex-direction: column;
             }
         }
         .footer-left-bottom{
             height: 100%;
         }
    }
}