.fund-page{
    .fund-subtitle{
            font-size: 17px;
            color: rgb(70, 168, 93);
            line-height: 1.471;
            font-weight: bold;
            margin-bottom: 20px;
            font-family: 'Panton-Bold';
    }
    .fund-list{
        margin-bottom: 55px;
        ul{
            padding-left: 0;
            li{
                    font-size: 15px;
                    color: rgb(0, 0, 0);
                    line-height: 1.667;  
                    list-style-type: none;   
                    font-weight: bold;      
                    margin-bottom: 20px;   
                    position: relative;
                    padding-left: 20px;
                    &::before{
                        content: '';
                        border-radius: 50%;
                        background-color: rgb(70, 168, 93);
                        width: 5px;
                        height: 5px;
                        position: absolute;
                        top: 10px;
                        left: 0;
                    }
            }
        }
    }
    .about-fund{
            background-color: rgb(250, 250, 250);
            box-shadow: inset 0px -3px 10px 0px rgba(0, 0, 0, 0.05);
            height: 192px;
            padding: 35px 0 45px 0;
            h2{
                margin-bottom: 20px;
            }
            .fund-wrapper{
                
                p{
                        font-size: 15px;
                        color: rgb(0, 0, 0);
                        line-height: 1.667;
                        font-weight: bold;
                }
            }
    }
    .fund-values{
        padding-top: 60px;
        margin-bottom: 20px;
        .fund-values-item{
            strong{
                    font-size: 15px;
                    color: rgb(0, 0, 0);
                    font-weight: bold;
                    line-height: 1.2;                  
            }
            p{
                    font-size: 15px;
                    color: rgb(94, 93, 108);
                    line-height: 1.667;
                    text-align: left;
                    margin-top: 15px;
                    margin-bottom: 35px;
            }
        }
        .team-slider{
            background-color: rgb(255, 255, 255);
            box-shadow: 0px 5px 90px 0px rgba(110, 123, 131, 0.1);
            margin: 2rem 0 86px 0;
            .slick-prev-btn{
                position: absolute;
                left: -3rem;
                top: 50%;
            }
            .slick-next-btn{
                position: absolute;
                right: -2rem;
                top: 50%;
            }
            .team-slide{
                padding: 35px;
                border-radius: 5px;      
                width: 260px !important; 
                box-shadow: 0px 5px 55px 0px rgba(110, 123, 131, 0.1);        
                .team-image{
                    img{
                        width: 112px;
                        height: 112px;
                        border-radius: 50%;
                    }
                }
                .team-info{
                    h2{
                            font-size: 17px;
                            color: rgb(0, 0, 0);
                            font-weight: bold;
                            line-height: 1.2;
                    }
                    h1{
                            font-size: 15px;
                            color: rgb(0, 0, 0);
                            line-height: 1.2;
                            text-align: left;  
                            font-weight: bold;       
                            strong{
                                color: rgb(70, 168, 93);
                            }                
                    }
                    a{
                            font-size: 15px;
                            color: rgb(70, 168, 93);
                            text-decoration: underline;
                            line-height: 1.2;
                            text-align: left;
                    }
                }
                &:hover{
                        border-bottom:5px solid rgb(70, 168, 93); 
                        transition: .5s;
                        margin-top: -20px;
                }
            }
        }
    }
    .fund-partners{
        padding: 63px 0;
        background-color: rgb(250, 250, 250);
        box-shadow: inset 0px -3px 10px 0px rgba(0, 0, 0, 0.05);
        height: 328px;
        .partners-slider{
            .slick-prev-btn{
                position: absolute;
                top: 36%;
                left: -3rem;

            }
            .slick-next-btn{
                position: absolute;
                top: 36%;
                right: -2rem;
            }
            .partner-slide{
                height: 93px;
                display: flex !important;
                align-items: center;
                justify-content: center;
            }
        }
    }
    .about-media{
        padding: 80px 0;
        .media-slider{
            .slick-prev-btn{
                position: absolute;
                top: 50%;
                left: -3rem;
            }
            .slick-next-btn{
                position: absolute;
                top: 50%;
                right: -2rem;
            }
            .media-slide{
                .media-image{
                    margin-bottom: 18px;
                    img{
                        width: 96%;
                    }
                }
                .media-text{
                    strong{
                            font-size: 14px;
                            color: rgb(179, 186, 196);
                            line-height: 1.2;              
                    }
                    h1{
                            font-size: 18px;
                            color: rgb(24, 26, 28);
                            font-weight: bold;
                            line-height: 1.667;   
                            padding-right: 4rem;
                            font-family: 'Panton-Bold';   
                    }
                }
            }
        }
    }
}
.content{
    h2{
        font-size: 17px;
        color: rgb(25, 26, 30);
        line-height: 1.471;  
        font-weight: bold; 
        margin-bottom: 30px;
        strong{
            color: rgb(70, 168, 93);
            font-family: 'Panton-Bold';
        }   
}
}


@media screen and (max-width:576px){
    .fund-page {
        .about-fund{
            height: auto;
        }
        .about-media {
            .media-slider {
                .media-slide {
                    .media-image {
                        img {
                            width: 100%;
                        }
                    }
                }
                .slick-next-btn{
                    position: absolute;
                    right: 40%;
                    top: 105%;
                    height: 26px;
                }
                .slick-prev-btn{
                    position: absolute;
                    left: 40%;
                    top: 105%;
                }
            }
        }
        .fund-values {
            .team-slider {
                .team-slide{
                    width: 100% !important;
                }
                .slick-next-btn{
                    position: absolute;
                    right: 40%;
                    top: 105%;
                    height: 26px;
                }
                .slick-prev-btn{
                    position: absolute;
                    left: 40%;
                    top: 105%;
                }
            }
        }
       .fund-partners {
        .partners-slider{
            .slick-next-btn{
                position: absolute;
                right: 40%;
                top: 140%;
                height: 26px;
            }
            .slick-prev-btn{
                position: absolute;
                left: 40%;
                top: 140%;
            }
        }
       }
    }
}


@media screen and (min-width:768px) and (max-width:1024px){
    .fund-page {
        .about-fund{
            height: auto;
        }
       .fund-values {
        .team-slider {
            .team-slide{
                width: 97% !important;
            }
            .slick-prev-btn {
                position: absolute;
                left: -1.5rem;
                top: 50%;
            }
            .slick-next-btn {
                position: absolute;
                right: -1.5rem;
                top: 50%;
            }
        }
       }
       .fund-partners {
        padding: 50px 0;
        height: auto;
        .partners-slider {

            .slick-next-btn {
                right: -1.5rem;
            }
            .slick-prev-btn {
                left: -1.5rem;
            }
        }
       }
       .about-media{
           .media-slider{
               .slick-next-btn{
                   right: -1.5rem;
               }
               .slick-prev-btn{
                   left: -1.5rem;
               }
               .media-slide{
                   .media-image{
                       margin: 0 auto 18px 0;
                   }
               }
           }
       }
    }
}