.help-children-page{
    .help-children-inner{
        margin-bottom: 50px;
        .help-wrapper{
            margin-bottom: 40px;
            h1{
                    font-size: 22px;
                    color: rgb(25, 26, 30);
                    font-weight: bold;
                    line-height: 1.2;
            }
            p{
                    font-size: 15px;
                    color: rgb(94, 93, 108);
                    line-height: 1.667;
                    text-align: left;  
            }
        }
        .help-image{
            img{
                width: 100%;
            }
        }
    }
    .reasons{
            background-color: rgb(246, 251, 255);
            padding-top: 75px;
        .reasons-image{
            img{
                margin-left: -9rem;
            }

        }
        .reasons-inner{
            padding-left: 2rem;
        }
    }
    .help-history{
        padding: 80px 0 90px 0;
        .history-image{
            margin-bottom: 50px;
            img{
                width: 100%;
                
            }
        }
    }
}

@media screen and (max-width:576px){
    .help-children-page {
        .reasons {
            padding-top: 1.5rem;
            .reasons-image{
                img{
                    width: 100%;
                    margin: 0;
                }
            }
            .reasons-inner{
                padding: 0;
            }
        }
        .help-children-inner{
            margin-bottom: 15px;
            .help-wrapper{
                margin-bottom: 15px;
            }
        }
        .help-history{
            padding: 1.5rem 0;
        }
    }
}
@media screen and (min-width:768px) and (max-width:1024px){
    .help-children-page {
        .reasons {
            padding: 1.5rem 0;
            .reasons-image {
                img{
                    width: 100%;
                    margin: 0;
                }
            }
            .reasons-inner{
                padding: 0;
            }
        }
        .help-children-inner {
            .help-wrapper{
                margin-bottom: 15px;
            }
        }
        .help-history{
            padding: 1.5rem 0;
        }
    }
}