.help-children-inner{
    .title-help{
        h1{
            text-align: center;
            color: #d55e46;
            font-size: 40px;
            line-height: 63px;
            text-transform: uppercase;
            margin-bottom: 10px;
        }
    }
    .help-children-social{
        display: flex;
        flex-direction: column;
        position: fixed;
        z-index: 999;
        top: 40%;
        .social-icon{
            width: 48px;
            height: 56px;
            display: flex;
            justify-content: center;
            align-items: center;
            &:hover{
                width: 64px;
                transition: .5s;
            }
                i{
                    font-size: 20px;
                    color: #fff;
                }
        }
        .vk{
            background-color: #5b749f;
        }
        .facebook{
            background-color: #3b5998;
        }
        .twitter{
            background-color: #00aced;
        }
        .gmail{
            background-color: #dc4e41;
        }
    }
    .help-bottom-inform{
        background-color: #f4f4f4;
        padding-top: 35px;
        padding-bottom: 42px;
        position: relative;
        .help-bottom-left{
            display: flex;
            flex-direction: column;
            align-items: center;
            .help-bottom-progress{
                margin: 0 auto;
                width: 102px;
                height: 9px;
                border-radius: 4px;
                background-color: #ffffff;
                overflow: hidden;
                position: relative;
                margin-bottom: 16px;
                .help-need-single__green-index{
                    position: absolute;
                    height: 9px;
                    top: 0;
                    left: 0;
                    background-color: #7ab739;
                    width: 45%;
                }
            }
            .help-bottom-image{
                margin-bottom: 30px;
                img{
                    border-radius: 50%;
                    width: 145px;
                    height: 145px;
                }
            }
            .summ-collection{
                margin-bottom: 20px;
                p{
                    margin-bottom: 0;
                    text-align: center;
                    color: #333;
                    font-size: 14px;
                    margin-bottom: 2px;
                }
                strong{
                    text-align: center;
                    color: #000000;
                    font-size: 24px;
                    font-weight: bold;
                    margin-bottom: 20px;
                }
            }
            .help-need-single__number{
                margin-bottom: 20px;
                strong{
                    text-align: center;
                    color: #d55e46;
                    font-size: 24px;
                    font-weight: bold;
                    margin-bottom: 35px;
                }
                p{
                    margin-bottom: 0;
                    text-align: center;
                    color: #333;
                    font-size: 14px;
                    margin-bottom: 2px;
                }
            }
            .help-need-button{
                margin-top: 10px;
                a{
                    text-decoration: none;
                    width: 100%;
                    color: #ffffff;
                    font-size: 23px;
                    font-weight: bold;
                    border-radius: 4px;
                    background-color: #1c9405;
                    padding: 12px 40px;
                }
            }
        }
        .help-bottom-right{
            .help-need-name{
                h1{
                    color: #333;
                    font-size: 28px;
                    font-weight: bold;
                    margin-bottom: 30px;
                }
            }
           
            .help-need-sub{
                margin-bottom: 30px;
                h3{
                    text-align: left;
                    color: #333;
                    font-size: 16px;
                    font-weight: 100;
                    margin-bottom: 10px;
                    b{
                        font-weight: bold;
                    }
                }
            }
            p{
                text-align: left;
                color: #010101;
                margin-bottom: 15px;
                font-size: 14px;
            }
            ul{
                li{
                    text-align: left;
                    color: #010101;
                    font-size: 14px;
                    margin-bottom: 5px;
                }
            }
            .help-text-italic{
                padding-left: 40px;
                position: relative;
                &::before{
                    content: '';
                    background-image: url(../images/quote-left.svg);
                    background-size: contain;
                    width: 23px;
                    height: 20px;
                    position: absolute;
                    top: 0;
                    left: 0;
                    display: block;
                }
            }
            img{
                width: 350px;
                margin-bottom: 20px;
            }
        }
    }
}

@media screen and (max-width:576px){
    .help-children-inner {
        .help-bottom-inform {
            .help-bottom-left{
                height: 430px;
            }
        }
    }
}
@media screen and (min-width:768px) and (max-width:1024px){
    .help-children-inner {
        .help-bottom-inform {
            .help-bottom-left{
                height: 440px;
            }
        }
    }
}