.how-help{
    padding: 32px 0 80px 0;
    .how-help-title{
        h1{
            font-size: 30px;
            line-height: 131.77%;
            text-align: center;
            text-transform: uppercase;
            color: #1C1C1C;
            font-family: 'Panton-Bold';
            margin-bottom: 38px;
        }
    }
    .requisites-info{
        .requisite-inner{
            display: flex;
            flex-direction: column;
            align-items: center;
            .requisite-title{
                a{
                    font-size: 18px;
                    line-height: 131.77%;
                    display: flex;
                    align-items: center;
                    text-align: center;
                    color: #1C1C1C;
                    margin-top: 16px;
                    font-weight: bold;
                }
            }
        }
    }
    .how-help-inner{
        width: 688px;
        margin: 0 auto;
        p{
            font-size: 16px;
            line-height: 131.77%;
            color: #1C1C1C;
            margin-bottom: 24px;
            a{
                font-size: 16px;
                line-height: 131.77%;
                color: #1C1C1C;
                margin-bottom: 24px;
            }
        }
        ul{
            padding: 0;
            li{
                list-style-type: none;
            }
        }
        .how-help-select{
            .select2-container{
                width: 700px !important;
                .select2-results__option--highlighted.select2-results__option--selectable{
                    background: #46A85D !important;
                }
            }
        }
        .how-help-inputs{
            display: flex;
            margin-top: 24px;
            width: 100%;
            justify-content: space-between;
            .help-input{
                p{
                    margin-bottom: 12px !important;
                }
                input{
                    border: 1px solid #AEAEAE;
                    border-radius: 6px;
                    height: 48px;
                    padding-left: 16px;
                }
            }
            .input-summ{
                width: 136px;
            }
            .input-name{
                width: 200px;
            }
            .input-email{
                width: 300px;
            }
        }
        .how-help-checkbox{
            margin: 24px 0 40px 0;
            .list__item {
                list-style-type: none;
              }
              .label--checkbox {
                position: relative;
                display: flex;
                align-items: flex-start;
                
                font-family: Arial, sans-serif;
                line-height: 160%;
                
                cursor: pointer;
              }
              
              .checkbox {
                position: relative;
                top: rem(-6);
                
                margin: 0 1rem 0 0 ;
                
                cursor: pointer;
                
                &:before {
                     transition:(all .3s ease-in-out);
                  
                      content: "";
                  
                      position: absolute;
                      left: 0;
                      z-index: 1;
                
                      width: 24px;
                      height:24px;
                  
                      border: 1px solid #1C1C1C; 
                }
                
                &:checked {
                  &:before {
                     transform:rotate(-45deg);
                
                      height: .5rem;
                
                      border-color: $green;
                      border-top-style: none;
                      border-right-style: none;
                  } 
                }
                
                &:after {
                  content: "";
                  
                  position: absolute;
                  top: rem(-2);
                  left: 0;
                  
                  width: 1.1rem;
                  height: 1.1rem;
                  
                  background: #fff;
                  
                  cursor: pointer;
                }
              }              
        }
        .how-help-btn{
            width: 700px;
            height: 50px;
            background: #46A85D;
            border-radius: 6px;
            a{
                width: 100%;
                height: 100%;
                display: flex;
                align-items: center;
                justify-content: center;
                font-weight: bold;
                font-size: 22px;
                line-height: 131.77%;
                color: #fff;
                font-family: 'Panton-Bold';
            }
        }
        .how-help-qr{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            margin-top: 32px;
            position: relative;
            &::before{
                content:'';
                width: 250px;
                height: 1px;
                background: #1C1C1C;
                position: absolute;
                bottom: -10px;
            }
            img{
                margin-bottom: 16px;
            }
            a{
                font-size: 16px;
                line-height: 131.77%;
                color: #1C1C1C;
              
            }
        }
    }
}

.select2-container--default .select2-results__option--highlighted.select2-results__option--selectable{
    background: #46A85D !important;
}
.select2-container--default .select2-results>.select2-results__options{
    min-height: 292px;
}
.select2-container--open .select2-dropdown--below{
    margin-top: 4px;
    border-top: 1px solid #aaa;
}
.select2-container--default .select2-selection--single .select2-selection__arrow{
    top: 8px;
    width: 40px;
}
.select2-container--default.select2-container--open .select2-selection--single .select2-selection__arrow b{
    border-width: 0 7px 14px 7px;
    border-color:  transparent transparent #C4C4C4 transparent;
}
.select2-container--default .select2-selection--single .select2-selection__arrow b{
    border-width: 14px 7px 0 7px;
    border-color: #C4C4C4 transparent transparent transparent;
}
.select2-container--default .select2-selection--single .select2-selection__rendered{
    line-height: 48px;
}
.select2-container--default .select2-selection--single{
    height: 48px;
}

@media screen and (max-width:576px){
    .how-help {
        .requisites-info {
            .requisite-inner{
                margin-bottom: 30px;
            }
        }
        .how-help-inner{
            width: 100%;
            .how-help-select {
                .select2-container{
                    width: 100% !important;
                }
            }
            .how-help-inputs{
                flex-direction: column;
                input{
                    width: 100% !important;
                }
            }
            .how-help-btn{
                width: 100% !important;
            }
        }
       
    }
}