body{
    font-family: 'Panton';
}
.breadcrumb{
    background-color: transparent;
    margin: 50px 0 40px 0;
    padding-left: 0;
    .breadcrumb-item{

            a{
                font-size: 14px;
                color: rgb(255, 97, 8);
                text-decoration: underline;
                line-height: 1.2;
                font-weight: bold;
                margin-right: 10px;
            }
    }
    .active{
                font-size: 14px;
                line-height: 1.2;
                font-weight: bold;
                position: relative;
                padding-left: 20px;
                color: rgb(25, 26, 30);
                &::before{
                    content: '';
                    background-image: url(../images/heart-icon.png);
                    width: 16px;
                    height: 16px;
                    position: absolute ;
                    left: 0;
                    background-repeat: no-repeat;
                    background-position-y: center;
                }
    }
}

.title{
    h1{
            font-size: 48px;
            color: rgb(25, 26, 30);
            line-height: 1.2;
            margin-bottom: 36px;
            font-family: 'Panton-Bold';
    }
    h3{
            font-size: 30px !important;
            font-family: 'Panton-Bold';
            color: rgb(25, 26, 30);
            line-height: 1.2;
            margin-bottom: 36px;

    }
    p{
            font-size: 17px;
            color: rgb(0, 0, 0);
            line-height: 1.471;   
            font-weight: bold;  
    }
}

.sub-title{
    h1{
            font-size: 30px;
            color: rgb(70, 168, 93);
            font-weight: bold;
            line-height: 1.2;
            margin-bottom: 40px;
    }
}


.project-link{
        width: 360px;
        height: 435px;
        position: relative;
        margin-bottom: 30px;
        &::before{
            content:'';
            background-image: url(../images/btn-project.png);
            width: 60px;
            height: 60px;
            position: absolute;
            bottom: 23px;
            left: 37px;
        }
        h1{
                font-size: 24px;
                color: rgb(0, 0, 0);
                font-weight: bold;
                line-height: 1.25;
                padding-top: 50px;
                padding-left: 37px;
        }
}
.project{
    .project-inner-top{
        margin-bottom: 30px;
    }
}
.project-inner-bottom{
    background-color: rgb(245, 250, 254);
    padding: 80px 0 30px 0;
}
.all-project{
    padding: 70px 0;
    a{
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 27px 0;
        border-top: 1px solid rgb(240, 242, 241);      
        border-bottom: 1px solid rgb(240, 242, 241); 
        margin: 0 70px;
        font-size: 17px;
        color: rgb(176, 185, 192);
        font-weight: bold;
        line-height: 1.2;       
        img{
            margin-left: 20px;
        }      
    }
}

@media screen and (max-width:576px){
    .breadcrumb{
        margin: 1.5rem 0;
    }
    .title{
        h1{
            font-size: 30px;
            margin-bottom: 15px;
        }
    }
    .sub-title{
        h1{
            font-size: 20px;
            margin-bottom: 15px;
        }
    }
    .project-link{
        width: 100%;
    }
    .project {
        .project-inner-top{
            margin-bottom: 0;
        }
    }
    .project-inner-bottom{
        padding: 1.5rem 0;
    }
    .all-project {
        padding: 1.5rem 0;
        a{
            margin: 0;
        }
    }
}

@media screen and (min-width:768px) and (max-width:1024px){
    .project-link{
        width: 100%;
    }
    .breadcrumb{
        margin: 1.5rem 0;
    }
    .title{
        h1{
            font-size: 35px;
            margin-bottom: 15px;
        }
    }
    .sub-title{
        h1{
            font-size: 23px;
            margin-bottom: 15px;
        }
    }
    .project-inner-bottom{
        padding: 1.5rem 0;
    }
    .all-project{
        padding: 1.5rem 0;
    }
}