.procedure{
    .title{
        p{
            width: 628px !important;
            margin-bottom: 49px;
        }
    }
    .procedure-inner{
        .procedure-left{
            margin-bottom: 32px;
            ul{
                padding-left: 15px;;
            }
            .procedure-text-bottom{
                margin-top: 24px;
            }
            .procedure-title{
                display: flex;
                align-items: center;
                margin-bottom: 20px;
                .procedure-num{
                    background: #48BAEC;
                    width: 50px;
                    height: 50px;
                    border-radius: 50%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    p{
                        font-size: 32px;
                        line-height: 131.77%;
                        text-align: center;
                        color: #FFFFFF;
                        font-weight: bold;
                        margin: 0;
                    }
                }
                .procedure-name{
                    h1{
                        font-weight: bold;
                        font-size: 24px;
                        line-height: 131.77%;
                        text-align: center;
                        color: #1C1C1C;
                        margin-bottom: 0;
                        margin-left: 16px;
                    }
                }
            }
            .procedure-text{
                p{
                    color: #484848;
                }
            }
        }
        .procedure-right{
            display: flex;
            flex-direction: column;
            align-items: flex-end;
            .download{
                width: 276px;
                height: 48px;
                border: 1px solid #48BAEC;
                border-radius: 8px;
                margin-bottom: 16px;
                input[type="file"] {
                    display: none;
                }
                a{
                    width: 100%;
                    height: 100%;
                    display: flex;
                    align-items: center;
                    cursor: pointer;
                    padding-left: 20px;
                    img{
                        margin-right: 15px;
                    }
                }
                .download_btn{
                    width: 100%;
                    height: 100%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    outline: none;
                    border: 1px solid #48BAEC;
                    color: #48BAEC;
                    border-radius: 8px;
                    margin-top: 20px;
                }
                label{
                    width: 100%;
                    height: 100%;
                    display: flex;
                    align-items: center;
                    color: #fff;
                    cursor: pointer;
                    padding-left: 20px;
                    img{
                        margin-right: 15px;
                    }
                }
            }
            .download-bottom{
                background: #48BAEC;
                a{
                    color: #FFf;
                }
            }
        }
    }
}

@media screen and (max-width:576px){
    .procedure{
        .title {
            p{
                width: 100% !important;
            } 
        }
        .procedure-inner {
            .procedure-right {
                .download{
                    width: 100%;
                }
            }
        }
    }
}