.project-inner{
    #helpModal{
        .modal-dialog {
            max-width: 885px;
            margin: 2rem auto;
        }
    }
    .project-inner-title{
        display: flex;
        align-items: center;
        margin-bottom: 40px;
        h2{
            font-weight: 600;
            font-size: 24px;
            line-height: 131.77%;
            display: flex;
            align-items: center;
            color: #1C1C1C;
            width: 85%;
            margin-right: 66px;
        }
        strong{
            font-size: 16px;
            line-height: 131.77%;
            display: flex;
            align-items: center;
            text-align: right;
            color: #484848;
        }
    }
    .project-info{
        width: 662px;
        margin: 0 auto;
        padding-bottom: 64px;
        .project-image{
            margin-bottom: 24px;
        }
        .project-text{
            p{
                font-size: 16px;
                line-height: 131.77%;
                color: #1C1C1C;
                margin-bottom: 24px;
            }
            .project-text-inner{
                width: 442px;
                margin: 0 auto;
                p{
                    font-style: italic;
                    font-weight: normal;
                    font-size: 16px;
                    line-height: 131.77%;
                    color: #484848;
                    margin-bottom: 24px;
                }
            }
        }
        .project-video{
            margin-bottom: 24px;
        }
        .project-slider{
            .slick-next-btn{
                position: absolute;
                right: -2rem;
                top: 50%;
            }
            .slick-prev-btn{
                position: absolute;
                left: -2rem;
                top: 50%;
            }
            .slick-dots {
                li{
                    button{
                        &::before{
                            content: '';
                            border: 1px solid #46A85D;
                            width: 10px;
                            height: 10px;
                            border-radius: 50%;
                        }
                    }
                }
                .slick-active{
                    button{
                        &::before{
                            content: '';
                            border: 1px solid #46A85D;
                            width: 10px;
                            height: 10px;
                            border-radius: 50%;
                            background: #46A85D;
                        }
                    }
                }
            }
        }
        .project-help{
            width: 256px;
            height: 48px;
            background: #46A85D;
            border-radius: 6px;
            margin: 0 auto;
            a{
                width: 100%;
                height: 100%;
                cursor: pointer;
                display: flex;
                justify-content: center;
                align-items: center;
                font-weight: 600;
                font-size: 22px;
                line-height: 131.77%;
                color: #FFFFFF;
            }
        }
    }
}


@media screen and (max-width:576px){
    .project-inner {
        .project-inner-title{
            flex-direction: column;
            align-items: flex-start;
            h2{
                margin-right: 0;
                width: 100%;
                font-size: 22px;
            }
        }
        .project-info{
            width: 100%;
            .project-image{
                img{
                    width: 100%;
                }
            }
            .project-text{
                .project-text-inner{
                    width: 100%;
                }
            }
            .project-slider{
                .project-slide{
                    img{
                        width: 100%;
                    }
                }
                .slick-next-btn{
                    // position: absolute;
                    // right: 0;
                    // top: 100%;    
                    display: none;            
                }
                .slick-prev-btn{
                    // position: absolute;
                    // left: 0;
                    // top: 100%;    
                    display: none;                
                }
            }
        }
    }
}

.modal_h2{
    display: flex;
    justify-content: center;
    padding-top: 40px;
    padding-bottom: 24px;
    font-family: 'Panton';
    font-weight: bold;
    font-size: 30px;
    line-height: 131.77%;
    color: #1C1C1C;
    .close{
        position: absolute;
        right: 3%;
        cursor: pointer;
    }
}

@media screen and (max-width:576px){
    .how-help{
        padding: 32px 10px 80px 10px!important;
    }
}
