.reports-page{
    .reports-info{
            border-radius: 5px;
            background-color: rgb(255, 255, 255);
            box-shadow: 0px 5px 90px 0px rgba(110, 123, 131, 0.1);
            height: 286px;
            display: flex;
            align-items: center;
            padding: 0 40px;
            position: relative;
            margin-bottom: 55px;
            margin-top: 38px;
            &::before{
                content: '';
                width: 100%;
                height: 60px;
                background-image: url(../images/reports-icon.png);
                background-repeat: no-repeat;
                position: absolute;
                top: -20px;
            }
    }
    .reports-inner{
            border-bottom:1px solid rgb(240, 242, 241); 
        .report-item{
            padding: 50px 25px 30px 34px;
            border-radius: 5px;
            background-color: rgb(255, 255, 255);
            box-shadow: 0px 5px 90px 0px rgba(110, 123, 131, 0.1);
            width: 100%;
            height: 340px;
            margin-bottom: 60px;
            .report-year{
                h1{
                        font-size: 30px;
                        font-family: 'Panton-Bold';
                        color: rgb(0, 0, 0);
                        line-height: 1;
                        text-align: left;   
                        margin-bottom: 40px;
                        padding-left: 15px;
                        position: relative;
                        z-index: 99;
                        &::before{
                            content: '';
                            border-radius: 50%;
                            background-color: rgb(70, 168, 93);
                            opacity: 0.102;
                            position: absolute;
                            left: -7px;
                            top: -12px;
                            width: 60px;
                            height: 60px;
                            z-index: 2;
                        }
                }
            }
            .report-text{
                p{
                        font-size: 15px;
                        color: rgb(0, 0, 0);
                        line-height: 1.2;
                        text-align: left;
                        font-weight: bold;
                        margin-bottom: 20px;
                        a{
                            font-family: 'Panton-Bold';
                            color: rgb(70, 168, 93);
                            text-decoration: underline !important;
                        }
                }
            }
            &:hover{
                    border-bottom:5px solid rgb(70, 168, 93);
                    transition: .5s;
                    margin-top: -20px;
                .report-year{
                    h1{
                        &::before{
                                opacity: 1;
                                z-index: -1;
                        }
                    }
                }
            }
        }
    }
    .international-activity{
        background-image: url(../images/BG-reports.png);  
        background-position-y: 100%;
        padding-bottom: 70px;
        padding-top: 40px;
        .international-image{
            img{
                width: 100%;
            }
        }
        .international-text{
            h1{
                    font-size: 17px;
                    color: rgb(0, 0, 0);
                    font-weight: bold;
                    line-height: 1.2;
                    margin: 20px 0;
                    font-family: 'Panton-Bold';
            }
            p{
                font-weight: bold;
            }
        }
    }
}


@media screen and (max-width:576px){
    .reports-page{
        .reports-info{
            height: auto;
            padding: 1.5rem ;
            margin-top: 26px;
            &::before{
                width: 90%;
            }
        }
        .reports-inner {
            margin-top: 30px;
            .report-item{
                margin-bottom: 30px;
            }
        }
    }
}

@media screen and (min-width:768px) and (max-width:1024px){
    .reports-page {
        .reports-info{
            height: auto;
            padding: 1.5rem;
        }
        .reports-inner{
            margin-top: 30px;
        }
    }
}